body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial;
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.rendererUI_div {
}

.rendererUI_base {
    background-color: rgb(16,16,16);
    position: relative;
}

.rendererUI_topMenu {
    float: left;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    overflow: visible;
    width: 100%;
    user-select: none;
    font-size: 9pt;
}

.rendererUI_TopMenuItem {
    float: left;
    position: relative;
    padding: 4px 8px 2px 8px;
    font-size: 9pt;
}

.rendererUI_TopMenuItem:hover {
    background-color: #e2e2e3;
    cursor: default;
}

.rendererUI_TopMenuSubMenu {
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 100;
    font-size: 9pt;
    min-width: 100px;
}

.rendererUI_topBar {
    float: left;
    width: 100%;
    height: 64px;
    color: black;
    background-color: #e6e6e6;
    overflow: hidden;
    user-select: none;
    font-size: 7pt;
}

.rendererUI_commandBar {
    float: left;
    width: 100%;
    height: 128px;
    color : black;
    background-color: white;
    overflow: hidden;
    font-size: 10pt;
}

.rendererUI_cmdBarMsg {
    float: left;
    width: 100%;
    height: calc(100% - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #c7c7c7;
}

.rendererUI_cmdBarMsgText {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    height: calc(100% - 16px);
}

.rendererUI_cmdBarInput {
    float: left;
    width: 100%;
    height: 48px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #e3e3e3;
}

.rendererUI_cmdBarInputText {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    height: calc(100% - 16px);
}

.rendererUI_Context {
    position: absolute;
    left: 132px;
    top: 132px;
    z-index: 3;
}

.rendererUI_Array_td {
    width: 30%;
}

.rendererUI_Array_Btn_Td {
    width: 15%;
}

.rendererUI_AlignCenter {
    text-align: center;
    vertical-align:middle;
}

.rendererUI_Array_Btn_Input {
    width: 75%;
    height: 75%;
}

.rendererUI_Array_Btn_Narrow_Input {
    width:30%;
    height: 75%;
}
.rendererUI_leftView {
    float: left;
    background-color: rgb(22,22,22);
}


#cadapp_canvas {
    background: transparent;
}

.rendererUI_canvas {
    float: left;
    background-color: black;
}

.rendererUI_rightView {
    float: left;
    background-color: rgb(22,22,22);
}

.rendererUI_panelOper {
    float: left;
    width: 100%;
    height: 50%;
    background-color: rgb(83,83,83);
    overflow: hidden;
}

.rendererUI_panelStat {
    float: left;
    width: 100%;
    height: 50%;
    background-color: rgb(83,83,83);
    overflow: hidden;
}

.rendererUI_panelAutoScroll {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.rendererUI_panelNoScroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rendererUI_panelLeftView {
    overflow: hidden;
    background-color: rgb(83,83,83);
}

.rendererUI_panelDataView {
    float: left;
    width: 98%;
    height: 48%;
    min-height: 100px;
    color: white;
    background-color: rgb(37,37,37);
    font-size: 9pt;
    margin: 4px;
}

.rendererUI_panelObjectView {
    float: left;
    width: 98%;
    height: 48%;
    min-height: 100px;
    color: white;
    background-color: rgb(37,37,37);
    font-size: 9pt;
    margin: 4px;
    user-select: none;
}

.rendererUI_splitterHorizontal {
    float: left;
    width: 100%;
    height: 4px;
    background-color: lightgray;
    cursor: row-resize;
    user-select: none;
}

.rendererUI_splitterVertical {
    float: left;
    width: 4px;
    height: 100%;
    background-color: lightgray;
    cursor: col-resize;
    user-select: none;
}

.rendererUI_panelOperData {
    font-size: 9pt;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    color: white;
}

.rendererUI_panelOperObject {
    font-size: 9pt;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    color: white;
}

.rendererUI_panelStatistics {
    font-size: 9pt;
    width:100%;
    overflow:auto;
    background-color: rgb(0,0,0);
    color: white;
}

.rendererUI_Title_Left {
    font-size: 9pt;
    padding: 2px;
    user-select: none;
}

.rendererUI_Title {
    min-height: 20px;
    vertical-align: middle;
    border-radius: 4px 4px 0px 0px;
    font-size: 9pt;
    background-color: rgb(53,53,53);
    padding: 2px;
    user-select: none;
}

.rendererUI_TabBtn {
    font-size: 8pt;
}

.rendererUI_Dlgs {
    font-size: 9pt;
}

.rendererUI_Tabs {
    font-size: 9pt;
    min-height: 100px;
    overflow-y: auto;
    background-color: lightgray;
}

.rendererUI_DropTitle {
    width: 150px;
    padding: 4px;
}

.rendererUI_DropTitle2 {
    width: 120px;
    padding: 4px;
}

.rendererUI_DropControl {
    min-width: 150px;
}

.rendererUI_Drop1 {
    width: 100%;
}

.rendererUI_Vis_Elements {
    width: 100%;
    height: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}

.rendererUI_Submits {
    padding:10px;
    text-align:right;
}

.rendererUI_Widgets {
    width: 100%;
}

.rendererUI_Widget_Spin {
    width: 80px;
}

.rendererUI_Widget_Spin_Small {
    width: 40px;
}

.rendererUI_Widget_Spin_Wide {
    width: 120px;
}

.rendererUI_Widget_Spin_Long {
    width: 320px;
}

.rendererUI_LeftPadding {
    padding-left: 15px;
}

.rendererUI_Btn_LeftBottom {
    left: 8px;
    position: absolute;
}

.rendererUI_Widget_Btn_Tool, .rendererUI_Widget_Btn_Tool:hover, .rendererUI_Widget_Btn_Tool:active, .rendererUI_Widget_Btn_Tool:focus {
    width: 32px;
    height: 32px;
    font-size: 6pt;
    background-repeat: no-repeat;
    background-position: center;
}

.rendererUI_Widget_Btn_Anim {
    width: 24px;
    height: 24px;
    font-size: 6pt;
}

.rendererUI_Widget_Btn_Origin {
}

.rendererUI_Widget_Btn_X {
}

.rendererUI_Widget_Btn_Y {
}


.rendererUI_Widget_Btn_Z {
}

.rendererUI_Edit_Slider {
    width: 120px;
    background-color: #000000;
    color: white;
}

.rendererUI_Slider_Vis {
    width: 120px;
}

.rendererUI_topToolbarPanel {
    float: left;
    color: black;
    padding: 4px;
    font-size: 8pt;
}

.rendererUI_topToolbarSplitter {
    float: left;
    width: 2px;
    vertical-align: center;
    height: 48px;
    margin: 8px;
    background-color: #a7a7a7;
    user-select: none;
}

.rendererUI_topToolbarTab td {
    text-align: center;
    max-width: 36px;
    height: 24px;
    font-size: 6pt;
    overflow: hidden;
}

.rendererUI_topBar_Btn_Tool, .rendererUI_topBar_Btn_Tool:hover, .rendererUI_topBar_Btn_Tool:active, .rendererUI_topBar_Btn_Tool:focus {
    width: 28px;
    height: 28px;
    margin: 4px;
    font-size: 9pt;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rendererUI_Btn_Pref, .rendererUI_Btn_Pref:hover, .rendererUI_Btn_Pref:active, .rendererUI_Btn_Pref:focus {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}

.rendererUI_topBar_Btn_Tool_Active, .rendererUI_topBar_Btn_Tool_Active:hover, .rendererUI_topBar_Btn_Tool_Active:active, .rendererUI_topBar_Btn_Tool_Active:focus {
    background-color: #007fff;
}

.rendererUI_topBar_Btn_Tool_Anim, .rendererUI_topBar_Btn_Tool_Anim:hover, .rendererUI_topBar_Btn_Tool_Anim:active, .rendererUI_topBar_Btn_Tool_Anim:focus {
    width: 32px;
    height: 32px;
    font-size: 9pt;
    background-repeat: no-repeat;
    background-position: center;
}

.rendererUI_Btn_Anim_Tool, .rendererUI_Btn_Anim_Tool:hover, .rendererUI_Btn_Anim_Tool:active, .rendererUI_Btn_Anim_Tool:focus {
    width: 36px;
    height: 32px;
    font-size: 6pt;
    background-repeat: no-repeat;
    background-position: center;
}

.rendererUI_Btn_Disable {
    pointer-events: none;
    opacity: 0.5;
}

.rendererUI_Btn_Close {
    width:8px;
    height:16px;
}

.rendererUI_Check_Icon {
    background-repeat: no-repeat;
    background-position: center;
}

.rendererUI_TopView_Title {
    font-size: 6pt;
    text-align: center;
    vertical-align: text-bottom;
    color: black;
}

.rendererUI_O_Remove {
    background: white url('o_hidden.png') no-repeat center;
}

.rendererUI_tableStatistics {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 9pt;
    min-width: 95%;
    max-width: 95%;
}

.rendererUI_tableStatistics th {
    border: 1px solid white;
    background: rgb(53,53,53);
    padding: 2px;
}

.rendererUI_tableStatistics td {
    border: 1px solid white;
    padding: 2px;
}

.rendererUI_statTable {
    overflow: auto;
    width: 100%;
}

.rendererUI_statGroup {
    padding: 4px;
}

.rendererUI_MsgBox {
    font-size: 9pt;
}

.rendererUI_MsgBox_Msg {
    font-size: 9pt;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.rendererUI_EV_Title {
    width: 300px;
}

.rendererUI_EV_Contents {
    width: 300px;
}

.rendererUI_ListView_Title {
    background-color: rgb(50,50,50);
    color: white;
    text-align: left;
}

.rendererUI_DisableView {
    opacity: 0.5;
    pointer-events: none;
}

.rendererUI_DropMax {
    min-height: 32px !important;
    max-height: 200px !important;
    height: 128px !important;
}